.padding-top-countdown {
    padding-top: 980px !important;    
}

.padding-top-title{
    padding-top: 100px !important;
}

.paddingGif {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 225px;
    padding-left: 100px;
}
.iconStyle {
    width: 90px !important;
    height: 95px !important;
    margin-top: -20px;
    margin-bottom: -40px;
}

.bannerSection{
    background-image: url(../assets/images/bannerTwitter.png);
    background-position: center top;
    background-size: 100% auto;
}

.infoSection{
    background-image: url(../assets/images/Backgroundlargo.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallerySection{
    background-image: url(../assets/images/Backgroundlargo.png);
    background-position: center top;
    background-size: 100% auto;
    padding-top: 300px;
}

.padding-top-description{
    padding-top: 50px;
}

.padding-top-description2{
    padding-top: 30px;
    padding-bottom: 30px;
}

.timerNumber {
    
    font-size: 120px !important;
    line-height: 1.6;
    text-align: center;
}

.timerName {
    
    font-size: 30px !important;
    line-height: 1.6;
    text-align: center;
}

.iconNavBar {
    font-size: 25px;
}

.iconFooter {
    color: #fffeed;
    font-size: 50px;
}

.iconFooter:hover {
    color: #fff;
}
.textFooter {
    color: #fffeed;
    font-size: 40px;
    text-align: center;
    padding-top: 300px;
}

.footerSection {
    background-image: url(../assets/images/Backgroundlargo.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
}

.carouselstyle{
    height: 800px;
}

.roadMapLine {
    position: absolute;
    width: 500px;
    height: auto;
}

@media screen and (min-width: 2200px) {
    .padding-top-countdown {
        padding-top: 1200px !important;    
    }

    .carouselstyle{
        height: 900px;
    }


    .roadMapLine {
        left: 37% !important;
    }
}

@media screen and (min-width: 2600px) {
    .padding-top-countdown {
        padding-top: 1400px !important;    
    }

    .roadMapLine {
        left: 39% !important;
    }
}


@media screen and (min-width: 3840px) {
    .padding-top-countdown {
        padding-top: 1900px !important;    
    }

    .padding-top-title{
        padding-top: 200px !important;
    }

    .paddingGif {
        padding-top: 150px !important;
        padding-left: 200px;
    }

    .carouselstyle{
        height: 1200px;
    }

    .roadMapLine {
        left: 43% !important;
    }
    
}

@media screen and (min-width: 1980px) {

    .roadMapLine {
        left: 35% !important;
    }
    
}

@media screen and (max-width: 1720px){
    .padding-top-countdown {
        padding-top: 780px !important;    
    }

    .padding-top-description{
        padding-top: 25px;
    }

    .padding-top-description2{
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .paddingGif {
        padding-top: 0px !important;
        padding-bottom: 100px !important;
        padding-left: 100px;
    }

    .roadMapLine {
        left: 33% !important;
    }
}

@media screen and (max-width: 1600px) {
    
    .timerNumber {
    
        font-size: 80px !important;
        text-align: center;
    }
    
    .timerName {
        
        font-size: 15px !important;
        text-align: center;
    }

    .gallerySection{
        background-size: 100% auto;
        padding-top: 150px;
        background-image: url(../assets/images/Backgroundlargo.png);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .roadMapLine {
        left: 33% !important;
    }
}

@media screen and (max-width: 1275px) {
    
   .padding-top-title{
        padding-top: 50px !important;
    }

    .paddingGif {
        padding-top: 100px !important;
        padding-bottom: 50px !important;
    }

    .padding-top-countdown {
        padding-top: 580px !important;    
    }

    .roadMapLine {
        width: 300px;
        left: 38% !important;
    }

}

@media screen and (max-width: 1235px) {
 .paddingGif {
        padding-top: 0px !important;
        padding-bottom: 50px !important;
    }
}

@media screen and (max-width: 1199px) {

    .roadMapLine {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    
    .padding-top-countdown {
        padding-top: 480px !important;    
    }

   

}

@media screen and (max-width: 910px) {
    
    .padding-top-countdown {
        padding-top: 380px !important;    
    }


}


@media screen and (max-width: 794px) {
    .bannerStyle {
        width: 100vw !important;
        height: auto !important;

        margin-left: 0; 
        margin-right: 0;
    }
    .paddingGif {
        padding-top: 0px !important;
        padding-bottom: 50px !important;
    }

    .timerNumber {
    
        font-size: 60px !important;
        text-align: center;
    }
    
    .timerName {
        
        font-size: 15px !important;
        text-align: center;
    }

    .padding-top-countdown {
        padding-top: 380px !important;    
    }
}

@media screen and (max-width: 620px) {

    .padding-top-countdown {
        padding-top: 280px !important;    
    }

}


@media screen and (max-width: 500px) {

    .padding-top-countdown {
        padding-top: 200px !important;    
    }

}

@media screen and (max-width: 408px) {

    .padding-top-countdown {
        padding-top: 180px !important;    
    }

}


@media screen and (max-width: 380px) {

    .padding-top-countdown {
        padding-top: 150px !important;    
    }

}


@media screen and (max-width: 350px) {

    .padding-top-countdown {
        padding-top: 120px !important;    
    }

}

